n8n-workflow.json
{
  "name": "GOPI KRISHNA",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      startTime: Date.now()\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        112
      ],
      "id": "96fc9575-80a2-4e54-a432-ef915a4b65b7",
      "name": "Start Timer"
    },
    {
      "parameters": {
        "jsCode": "// ============================\n// 1️⃣ Safe input extraction\n// ============================\nconst raw =\n  $json?.body ??\n  $json ??\n  {};\n\nif (typeof raw !== 'object' || Array.isArray(raw)) {\n  throw new Error('Invalid webhook payload: expected JSON object');\n}\n\n// ============================\n// 2️⃣ Required fields + types\n// ============================\nconst SCHEMA = {\n  firstName: 'string',\n  lastName: 'string',\n  email: 'string',\n  website: 'string',\n  phoneNumber: 'string',\n  companyName: 'string',\n  linkedInURL: 'string'\n};\n\nconst errors = [];\n\n// ============================\n// 3️⃣ Field validation\n// ============================\nfor (const [field, type] of Object.entries(SCHEMA)) {\n  if (!(field in raw)) {\n    errors.push(`Missing field: ${field}`);\n    continue;\n  }\n\n  if (typeof raw[field] !== type) {\n    errors.push(`Invalid type for ${field}, expected ${type}`);\n    continue;\n  }\n\n  if (!raw[field].trim()) {\n    errors.push(`Empty value for ${field}`);\n  }\n}\n\n// ============================\n// 4️⃣ Format validation\n// ============================\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(raw.email)) {\n  errors.push('Invalid email format');\n}\n\nif (!/^\\+?[0-9]{8,15}$/.test(raw.phoneNumber.replace(/\\s/g, ''))) {\n  errors.push('Invalid phone number format');\n}\n\nif (!raw.linkedInURL.includes('linkedin.com')) {\n  errors.push('Invalid LinkedIn URL');\n}\n\n// ============================\n// 5️⃣ Fail fast if invalid\n// ============================\nif (errors.length) {\n  throw new Error(`Validation failed → ${errors.join(' | ')}`);\n}\n\n// ============================\n// 6️⃣ Idempotency key\n// ============================\nconst idempotencyKey = Buffer\n  .from(`${raw.email}|${raw.phoneNumber}`)\n  .toString('base64');\n\n// ============================\n// 7️⃣ Output contract\n// ============================\nreturn {\n  json: {\n    ...raw,\n    _meta: {\n      validatedAt: new Date().toISOString(),\n      idempotencyKey,\n      source: 'inbound-webhook',\n      schemaVersion: 'v1'\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3168,
        0
      ],
      "id": "d64c0a45-2d2f-4749-80a7-0047af6cc550",
      "name": "Validate Required Fields"
    },
    {
      "parameters": {
        "jsCode": "// ============================\n// 1️⃣ Depend ONLY on previous node contract\n// ============================\nconst input = $json ?? {};\n\nconst safe = (v, fallback = '') =>\n  typeof v === 'string' && v.trim() ? v.trim() : fallback;\n\n// ============================\n// 2️⃣ Safe field extraction\n// ============================\nconst firstName = safe(input.firstName, 'there');\nconst lastName = safe(input.lastName);\nconst companyName = safe(input.companyName, 'the company');\nconst linkedInURL = safe(input.linkedInURL);\nconst website = safe(input.website);\nconst phoneNumber = safe(input.phoneNumber);\nconst email = safe(input.email);\n\n// ============================\n// 3️⃣ Defensive check (hard stop only if critical)\n// ============================\nif (!linkedInURL || !companyName) {\n  throw new Error('Critical fields missing for prompt generation');\n}\n\n// ============================\n// 4️⃣ Deterministic, controlled prompt\n// ============================\nconst prompt = `\nYou are an expert B2B outbound sales copywriter.\n\nTASK:\nGenerate a 4-step LinkedIn cold outreach sequence.\n\nPROSPECT DETAILS:\n- First Name: ${firstName}\n- Last Name: ${lastName}\n- Company: ${companyName}\n- Website: ${website}\n- LinkedIn Profile: ${linkedInURL}\n- Phone Number: ${phoneNumber}\n\nRULES:\n- No emojis\n- No markdown\n- No bullet points\n- No JSON\n- Plain text only\n- Professional but friendly tone\n- Each step must be short and actionable\n\nOUTPUT:\nReturn ONLY the message sequence text.\n`.trim();\n\n// ============================\n// 5️⃣ Stable output contract\n// ============================\nreturn {\n  json: {\n    prompt,\n    toEmail: email,\n    firstName,\n    lastName,\n    companyName,\n    website,\n    linkedInURL,\n    phoneNumber,\n\n    _meta: {\n      promptVersion: 'v1.0',\n      generatedAt: new Date().toISOString(),\n      idempotencyKey: input._meta?.idempotencyKey ?? null,\n      source: 'prompt-preparation-node'\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2944,
        112
      ],
      "id": "274904b0-620a-4f9d-aea7-ebf1ff1be687",
      "name": "Prepare AI Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gemini-server-wheat.vercel.app/generate",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"You are an expert B2B outbound sales copywriter.\\n\\nTASK:\\nGenerate a 4-step personalized LinkedIn cold outreach message sequence.\\n\\nPROSPECT DETAILS:\\n- First Name: {{$json.firstName}}\\n- Last Name: {{$json.lastName}}\\n- Company Name: {{$json.companyName}}\\n- Website: {{$json.website}}\\n- LinkedIn Profile: {{$json.linkedInURL}}\\n- Phone Number: {{$json.phoneNumber}}\\n\\nRULES:\\n- Use a friendly but professional tone\\n- No emojis\\n- No markdown\\n- No bullet points\\n- No JSON\\n- No headings\\n- Plain text only\\n- Each step should be concise and natural\\n\\nOUTPUT:\\nReturn ONLY the message sequence text. Nothing else.\",\n  \"meta\": {\n    \"promptVersion\": \"v1.0\",\n    \"idempotencyKey\": \"{{$json._meta.idempotencyKey}}\",\n    \"source\": \"n8n-gemini-prompt\"\n  },\n  \"toEmail\": \"{{$json.toEmail}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2480,
        112
      ],
      "id": "39b79ff7-be16-4ba1-9215-9bb39443b30d",
      "name": "Generate Outreach Sequence (Gemini API)",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2272,
        16
      ],
      "id": "afc9d6f3-d0be-469b-bbf1-1db933d45e1e",
      "name": "Merge Prospect + AI Response"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      firstName: $json.firstName,\n      lastName: $json.lastName,\n      website: $json.website,\n      phoneNumber: $json.phoneNumber,\n      companyName: $json.companyName,\n      linkedInURL: $json.linkedInURL,\n      email: $json.email,\n      ai_response:$json.data,\n      timestamp: new Date().toISOString(),\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        16
      ],
      "id": "ef8049d6-11b2-4014-9e81-90d6f4b64d9c",
      "name": "Format for DB"
    },
    {
      "parameters": {
        "tableId": "outreach_data",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "firstName",
              "fieldValue": "={{$input.item.json.firstName}}"
            },
            {
              "fieldId": "lastName",
              "fieldValue": "= {{$input.item.json.lastName}}"
            },
            {
              "fieldId": "website",
              "fieldValue": "= {{$input.item.json.website}}"
            },
            {
              "fieldId": "PhoneNumber",
              "fieldValue": "={{$input.item.json.phoneNumber}}"
            },
            {
              "fieldId": "companyName",
              "fieldValue": "={{$input.item.json.companyName}}"
            },
            {
              "fieldId": "linkedInURL",
              "fieldValue": "={{$input.item.json.linkedInURL}}"
            },
            {
              "fieldId": "=aiResponse",
              "fieldValue": "={{$json.ai_response}}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{new Date().toISOString()}}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{$input.item.json.email}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1824,
        112
      ],
      "id": "13a0f156-ec6f-40d7-88af-147b8b5d383c",
      "name": "Save Outreach Data (Supabase)",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "tonystark57ts@gmail.com",
        "toEmail": "={{ $json[\"email\"] }}",
        "subject": "AI-generated personalized LinkedIn outreach sequence",
        "html": "=<h2>Hello {{ $json.firstName || 'there' }},</h2>\n\n<p>\nHere’s your <strong>AI-generated, personalized LinkedIn outreach sequence</strong>\nbased on the prospect details you provided:\n</p>\n\n<pre style=\"\n  background-color:#f4f4f4;\n  padding:14px;\n  border-radius:6px;\n  font-size:14px;\n  white-space:pre-wrap;\n  word-wrap:break-word;\n\">\n{{ $json.aiResponse }}\n</pre>\n\n<p style=\"font-size:12px;color:#666;\">\nGenerated on {{ $json.timestamp }}\n</p>\n\n<p>\nRegards,<br/>\n<strong>Tony’s AI Assistant 🤖</strong>\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1600,
        112
      ],
      "id": "6354f331-eafb-43dd-a286-34b5cfd56682",
      "name": "Send Outreach Email",
      "webhookId": "e4643e55-603d-4d5e-aa25-f3b9abceb8ac",
      "credentials": {
        "smtp": {
          "id": "Jg5aEAzSV4cWcuRL",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =======================================\n// Log Email Status — Production Grade\n// =======================================\n\n// 1️⃣ Start time (from upstream node)\nconst startTime =\n  typeof $json.startTime === 'number'\n    ? $json.startTime\n    : null;\n\n// 2️⃣ Compute execution duration\nconst endTime = Date.now();\nconst timeTakenMs =\n  startTime !== null ? endTime - startTime : undefined;\n\n// 3️⃣ Normalize SMTP response shape\nconst accepted = Array.isArray($json.accepted) ? $json.accepted : [];\nconst rejected = Array.isArray($json.rejected) ? $json.rejected : [];\n\n// 4️⃣ Delivery classification\nlet deliveryStatus = 'UNKNOWN';\n\nif (accepted.length > 0 && rejected.length === 0) {\n  deliveryStatus = 'DELIVERED';\n} else if (accepted.length > 0 && rejected.length > 0) {\n  deliveryStatus = 'PARTIAL_DELIVERY';\n} else if (accepted.length === 0 && rejected.length > 0) {\n  deliveryStatus = 'FAILED';\n}\n\n// 5️⃣ Hard error detection (SMTP node throws on fatal error)\nconst status = $json?.error ? 'Error' : 'Success';\n\n// 6️⃣ Correlation metadata\nconst meta = $json._meta ?? {};\n\n// 7️⃣ Final structured log\nreturn {\n  json: {\n    apiName: 'SMTP Email',\n\n    // High-level status\n    status,\n    deliveryStatus,\n\n    // Recipient stats\n    acceptedCount: accepted.length,\n    rejectedCount: rejected.length,\n    acceptedRecipients: accepted,\n    rejectedRecipients: rejected,\n\n    // SMTP-level details\n    smtpResponse: $json.response ?? null,\n    messageId: $json.messageId ?? null,\n    messageSize: $json.messageSize ?? null,\n\n    // Timing\n    timeTakenMs,\n\n    // Traceability\n    //idempotencyKey: meta.idempotencyKey ?? null,\n    executionId: $execution.id,\n    workflowName: $workflow.name,\n    timestamp: new Date().toISOString()\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        112
      ],
      "id": "c080813c-cf2c-4696-909f-70d8bdc2656d",
      "name": "Log Email Status"
    },
    {
      "parameters": {
        "tableId": "=api_logs",
        "dataToSend": "=defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "apiName",
              "fieldValue": "={{ $json.apiName }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "= {{ $json.status }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $json.timestamp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1152,
        112
      ],
      "id": "9e914af1-4e49-4940-9447-8425d59e7279",
      "name": "Save API Logs",
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -928,
        32
      ],
      "id": "95fd4777-4aac-4e2f-8c90-c56bb77035d8",
      "name": "Merge Data Before Scraper"
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => {\n    // Keep only prospect-type items\n    return (\n      typeof item.json.firstName === 'string' &&\n      item.json.firstName.trim() !== ''\n    );\n  })\n  .map(item => {\n    const json = { ...item.json };\n\n    // Normalize website\n    if (typeof json.website === 'string' && json.website.trim() !== '') {\n      json.website = json.website.startsWith('http')\n        ? json.website.trim()\n        : 'https://' + json.website.trim();\n    }\n\n    // Normalize LinkedIn URL\n    if (typeof json.linkedInURL === 'string' && json.linkedInURL.trim() !== '') {\n      json.linkedInURL = json.linkedInURL.startsWith('http')\n        ? json.linkedInURL.trim()\n        : 'https://' + json.linkedInURL.trim();\n    }\n\n    return { json };\n  });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        32
      ],
      "id": "8dc73ae9-d36d-40d6-b43c-aef60218dd34",
      "name": "Fix Website URL"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// LINKEDIN SCRAPER - FALLBACK DATA (TESTING)\n// Uses intelligent fallback for demo/testing\n// ==========================================\n\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const prospect = item.json;\n  const linkedInURL = prospect.linkedInURL || '';\n  \n  if (!linkedInURL || linkedInURL.trim() === '') {\n    processedItems.push({ \n      json: {\n        ...prospect,\n        linkedin_enrichment: { success: false, error: 'No LinkedIn URL provided' },\n        linkedin_scraped_at: new Date().toISOString(),\n        linkedin_profile_headline: prospect.jobTitle || '',\n        linkedin_current_position: prospect.jobTitle ? `${prospect.jobTitle} at ${prospect.companyName}` : '',\n        linkedin_location: prospect.city && prospect.state ? `${prospect.city}, ${prospect.state}` : '',\n        linkedin_connection_count: '',\n        linkedin_recent_activity: ''\n      }\n    });\n    continue;\n  }\n  \n  // Generate realistic fallback data based on prospect info\n  const firstName = prospect.firstName || 'Unknown';\n  const jobTitle = prospect.jobTitle || 'Professional';\n  const companyName = prospect.companyName || 'Company';\n  const city = prospect.city || 'City';\n  const state = prospect.state || 'State';\n  \n  // Generate realistic headline variations\n  const headlines = [\n    `${jobTitle} at ${companyName} | Real Estate Technology Enthusiast`,\n    `${jobTitle} | Helping Real Estate Professionals Scale with AI`,\n    `${jobTitle} @ ${companyName} | PropTech Innovator`,\n    `Experienced ${jobTitle} | ${companyName} | Growth & Strategy`,\n    `${jobTitle} specializing in Real Estate Tech Solutions`\n  ];\n  \n  // Generate realistic summary\n  const summary = `Accomplished ${jobTitle} with extensive experience in real estate technology and business development. Currently driving growth initiatives at ${companyName} in ${city}, ${state}. Passionate about leveraging AI and automation to transform how real estate professionals operate. Proven track record in lead generation, client acquisition, and building scalable systems.`;\n  \n  // Generate realistic skills\n  const roleSkills = {\n    'VP of Sales': ['Sales Strategy', 'Business Development', 'Lead Generation', 'CRM Management', 'Team Leadership', 'Negotiation', 'Account Management'],\n    'CEO': ['Strategic Planning', 'Leadership', 'Business Strategy', 'P&L Management', 'Fundraising', 'Product Vision'],\n    'CTO': ['Software Architecture', 'Team Management', 'Technical Strategy', 'Cloud Infrastructure', 'API Design', 'DevOps'],\n    'Marketing': ['Digital Marketing', 'Content Strategy', 'SEO/SEM', 'Social Media', 'Campaign Management', 'Analytics'],\n    'default': ['Communication', 'Project Management', 'Problem Solving', 'Leadership', 'Strategy', 'Analysis']\n  };\n  \n  const skills = roleSkills[jobTitle] || roleSkills['default'];\n  \n  // Generate experience\n  const experience = [\n    {\n      title: jobTitle,\n      company: companyName,\n      duration: '2+ years',\n      description: `Leading strategic initiatives and growth`\n    },\n    {\n      title: `Senior ${jobTitle.replace('VP of ', '').replace('Director of ', '')}`,\n      company: 'Previous Company',\n      duration: '3 years',\n      description: 'Built and scaled operations'\n    }\n  ];\n  \n  // Generate education\n  const education = [\n    {\n      school: 'University',\n      degree: 'Bachelor of Business Administration',\n      field: 'Business',\n      year: '2015'\n    }\n  ];\n  \n  const enrichedProspect = {\n    ...prospect,\n    \n    linkedin_enrichment: {\n      success: true,\n      source: 'fallback_data',\n      profile_url: linkedInURL,\n      extracted_at: new Date().toISOString(),\n      note: 'Using fallback data for testing'\n    },\n    \n    linkedin_scraped_at: new Date().toISOString(),\n    \n    linkedin_profile_headline: headlines[Math.floor(Math.random() * headlines.length)],\n    \n    linkedin_current_position: `${jobTitle} at ${companyName}`,\n    \n    linkedin_location: city && state ? `${city}, ${state}` : 'United States',\n    \n    linkedin_connection_count: Math.floor(Math.random() * 400 + 500) + '+',\n    \n    linkedin_recent_activity: `Recently shared insights about ${Math.random() > 0.5 ? 'real estate technology trends' : 'AI automation in PropTech'}. Active in industry discussions.`,\n    \n    linkedin_full_name: prospect.fullName,\n    \n    linkedin_skills: skills,\n    \n    linkedin_experience: experience,\n    \n    linkedin_education: education,\n    \n    linkedin_summary: summary,\n    \n    linkedin_company: companyName,\n    \n    linkedin_industry: 'Real Estate Technology'\n  };\n  \n  processedItems.push({ json: enrichedProspect });\n  console.log(`✅ Generated fallback data for: ${prospect.fullName}`);\n}\n\nconsole.log(`✅ Processed ${processedItems.length} profiles with fallback data`);\nreturn processedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        32
      ],
      "id": "4df44420-1c12-4eb7-a7f5-9f60071618e3",
      "name": "Scraper Data Cleaning"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        32
      ],
      "id": "087c72ba-6600-4936-a656-33e27ec4653c",
      "name": "Data Format( Retell Prompt)"
    },
    {
      "parameters": {
        "jsCode": "const toNumber =\n  $json.phoneNumber ||\n  $node[\"Fix Website URL\"].json.phoneNumber;\n\nif (!toNumber) {\n  throw new Error(\"Missing to_number for Retell call\");\n}\n\nreturn {\n  json: {\n    from_number: \"+18155819546\",\n    to_number: toNumber,\n    agent_id: \"agent_df0a754477687fbceabe7f799b\",\n\n    language: \"en-US\",\n    voice_id: \"agent_df0a754477687fbceabe7f799b\",\n\n    // 🔥 THIS IS THE FIX\n    context: {\n      firstName: $json.firstName,\n      lastName: $json.lastName,\n      fullName: `${$json.firstName} ${$json.lastName}`,\n      companyName: $json.companyName,\n      website: $json.website,\n      linkedin: $json.linkedInURL,\n      email: $json.email\n    },\n\n    // Keep AI response as talking points\n    ai_response: $json.ai_response,\n\n    metadata: {\n      source: \"n8n\",\n      executionId: $execution.id,\n      timestamp: new Date().toISOString()\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        32
      ],
      "id": "5a3224d7-18d5-4fcd-9ea7-a00c363e364b",
      "name": "Retell Call Script"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer key_74c047c615aa895bcb5d514a35a2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        32
      ],
      "id": "beb1f09d-39af-4a51-9233-915de5b7187a",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "executeOnce": false,
      "notesInFlow": false,
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpCustomAuth": {
          "id": "pXBLlmK1QxoryXEX",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa7beb5a-2785-4a64-af5d-20a2bdcfb44c",
              "leftValue": "={{ $json.linkedInURL }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        32
      ],
      "id": "dec2c862-7ef1-4699-858a-9ccd53e9d449",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        32
      ],
      "id": "44ac3000-0fec-4eb8-ae78-1892111ddcfd",
      "name": "Wait",
      "webhookId": "a732a4e2-cc95-4e57-a993-91b562489e85"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "interested",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "61454a42-7831-4a4e-a909-08ac96fa3589"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Interested"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5a00d62d-a8a3-4b4f-8e79-3b192d1b9ce1",
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "booked appointment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Booked"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3313f57-8293-4f26-b6aa-9f2363bdde26",
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "rejected offer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        2096
      ],
      "id": "7d8bcc73-3d1f-4979-a48f-e83fb5e9b2db",
      "name": "Switch"
    },
    {
      "parameters": {
        "fromEmail": "tonystark57ts@gmail.com",
        "toEmail": "={{ $json.user_email }}",
        "subject": "\"Case Studies and More Info\"",
        "html": "=<p>Hi,</p>\n<p>Thanks for your time on the call! Please find some case studies that might help:</p>\n<ul>\n  <li><a href=\"https://example.com/case-study-1\">Case Study 1</a></li>\n  <li><a href=\"https://example.com/case-study-2\">Case Study 2</a></li>\n</ul>\n<p>Best regards,<br>Your Company</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        592,
        1504
      ],
      "id": "d669bf91-6d91-4912-92e2-24bc59689b80",
      "name": "Send email1",
      "webhookId": "015cf318-289b-4f04-bf62-fb138cba3de7",
      "credentials": {
        "smtp": {
          "id": "Jg5aEAzSV4cWcuRL",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "call_logs",
        "filters": {
          "conditions": [
            {
              "keyName": "retell_call_id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Final Email Exists?\"].json.retell_call_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "next_step",
              "fieldValue": "\"Booked Appointment\""
            },
            {
              "fieldId": "appointment_time",
              "fieldValue": "={{ $node[\"Transform_Call_Data\"].json.appointment_time }}"
            },
            {
              "fieldId": "email_sent",
              "fieldValue": "false"
            },
            {
              "fieldId": "from_email",
              "fieldValue": "tonystark57ts@gmail.com"
            },
            {
              "fieldId": "retry_allowed",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2304,
        2176
      ],
      "id": "a748f9da-5519-48b0-81e4-a44bf71d21f7",
      "name": "Update a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "call_logs",
        "filters": {
          "conditions": [
            {
              "keyName": "retell_call_id",
              "condition": "eq",
              "keyValue": "={{ $json.retell_call_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "next_step",
              "fieldValue": "\"No Action\""
            },
            {
              "fieldId": "email_sent",
              "fieldValue": "false"
            },
            {
              "fieldId": "appointment_time",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "outcome",
              "fieldValue": "={{ $json.outcome }}"
            },
            {
              "fieldId": "retry_allowed",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        3056
      ],
      "id": "467a17f8-136e-417c-9e99-09c534b88564",
      "name": "Update a row2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "call_logs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "retell_call_id",
              "condition": "eq",
              "keyValue": "{{ $json.retell_call_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "next_step",
              "fieldValue": "Exhausted – No Answer"
            },
            {
              "fieldId": "retry_allowed",
              "fieldValue": "false"
            },
            {
              "fieldId": "exhausted_at",
              "fieldValue": "now()"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2160,
        1040
      ],
      "id": "2369a7eb-b67b-4c6f-860a-e18414f89315",
      "name": "Update a row5",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "email_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "call_log_id",
              "fieldValue": "={{ $node[\"Save Call Log\"].json.id }}"
            },
            {
              "fieldId": "prospect_id",
              "fieldValue": "={{ $node[\"Merge Call + Prospect\"].json.id }}"
            },
            {
              "fieldId": "retell_call_id",
              "fieldValue": "={{ $json.retell_call_id }}"
            },
            {
              "fieldId": "from_email",
              "fieldValue": "tonystark57ts@gmail.com"
            },
            {
              "fieldId": "to_email",
              "fieldValue": "={{ $json.user_email }}"
            },
            {
              "fieldId": "subject",
              "fieldValue": "\"Case Studies and More Info\""
            },
            {
              "fieldId": "template_key",
              "fieldValue": "\"case_studies\""
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        1504
      ],
      "id": "b8f18d78-a8d8-47b1-a8a4-39aebddb9fc1",
      "name": "Create a row3",
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "call_logs",
        "filters": {
          "conditions": [
            {
              "keyName": "retell_call_id",
              "condition": "eq",
              "keyValue": "={{$json.retell_call_id}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email_sent",
              "fieldValue": "true"
            },
            {
              "fieldId": "email_subject",
              "fieldValue": "\"Case Studies and More Info\""
            },
            {
              "fieldId": "email_sent_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "from_email",
              "fieldValue": "tonystark57ts@gmail.com"
            },
            {
              "fieldId": "to_email",
              "fieldValue": "={{ $json.user_email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1088,
        1504
      ],
      "id": "a30e9331-22ac-409f-8395-3865a25de44c",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "daily_metrics",
        "filters": {
          "conditions": [
            {
              "keyName": "metric_date",
              "keyValue": "={{$json.metric_date}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3072,
        2176
      ],
      "id": "30dd8379-0436-4aef-b6fb-1c895ce217a4",
      "name": "daily_metrics",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().split(\"T\")[0];\n\n// ----------------------------\n// Call success logic\n// ----------------------------\nconst isUnsuccessful =\n  [\"dial_no_answer\", \"dial_busy\", \"dial_failed\"]\n    .includes($json.disconnection_reason || \"\");\n\nconst pickedUp = !isUnsuccessful;\n\n// ----------------------------\n// Normalize outcome\n// ----------------------------\nconst outcomeText = (\n  $json.normalizedOutcome ||\n  $json.outcome ||\n  $json.next_step ||\n  \"unknown\"\n).toString().trim().toLowerCase();\n\n// ----------------------------\n// Rejection logic (FIX)\n// ----------------------------\nconst isRejected =\n  outcomeText === \"rejected offer\" || isUnsuccessful;\n\n// ----------------------------\n// Base metric increments\n// ----------------------------\nconst metrics = {\n  metric_date: today,\n  calls_sent: 1,\n  calls_picked_up: pickedUp ? 1 : 0,\n  rejected_offers: isRejected ? 1 : 0,\n  booked_appointments: outcomeText.includes(\"booked appointment\") ? 1 : 0,\n  interested_mailed:\n    outcomeText === \"interested\" && $json.email_sent === true ? 1 : 0,\n  emails_sent: $json.email_sent === true ? 1 : 0\n};\n\n// ----------------------------\n// Conditionally add email fields\n// ----------------------------\nif ($json.email_sent === true) {\n  metrics.from_email = $json.from_email || null;\n  metrics.template_key = $json.email_subject ? \"case_studies\" : null;\n}\n\nreturn [{ json: metrics }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        2192
      ],
      "id": "a47985c6-e13c-4abe-acbf-cd5ef60b5043",
      "name": "ComputeDailyIncrements"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "daily_metrics",
        "filters": {
          "conditions": [
            {
              "keyName": "metric_date",
              "condition": "eq",
              "keyValue": "={{ $node[\"ComputeDailyIncrements\"].json.metric_date }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "calls_sent",
              "fieldValue": "={{ $node[\"ComputeDailyIncrements\"].json.calls_sent }}"
            },
            {
              "fieldId": "calls_picked_up",
              "fieldValue": "={{ $node[\"ComputeDailyIncrements\"].json.calls_picked_up }}"
            },
            {
              "fieldId": "rejected_offers",
              "fieldValue": "={{$node[\"ComputeDailyIncrements\"].json.rejected_offers }}"
            },
            {
              "fieldId": "booked_appointments",
              "fieldValue": "={{$node[\"ComputeDailyIncrements\"].json.booked_appointments }}"
            },
            {
              "fieldId": "interested_mailed",
              "fieldValue": "={{$node[\"ComputeDailyIncrements\"].json.interested_mailed }}"
            },
            {
              "fieldId": "emails_sent",
              "fieldValue": "= {{$node[\"ComputeDailyIncrements\"].json.emails_sent }}"
            },
            {
              "fieldId": "last_updated",
              "fieldValue": "= {{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3440,
        2080
      ],
      "id": "d7583fa1-45b7-48ea-94dd-973af0ea739d",
      "name": "Update daily_metrics",
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "daily_metrics",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "metric_date",
              "fieldValue": "={{ $node[\"ComputeDailyIncrements\"].json.metric_date }}"
            },
            {
              "fieldId": "calls_sent",
              "fieldValue": "={{ $node[\"ComputeDailyIncrements\"].json.calls_sent }}"
            },
            {
              "fieldId": "calls_picked_up",
              "fieldValue": "={{ $node[\"ComputeDailyIncrements\"].json.calls_picked_up }}"
            },
            {
              "fieldId": "rejected_offers",
              "fieldValue": "={{ $node[\"ComputeDailyIncrements\"].json.rejected_offers }}"
            },
            {
              "fieldId": "booked_appointments",
              "fieldValue": "={{ $node[\"ComputeDailyIncrements\"].json.booked_appointments }}"
            },
            {
              "fieldId": "interested_mailed",
              "fieldValue": "={{ $node[\"ComputeDailyIncrements\"].json.interested_mailed }}"
            },
            {
              "fieldId": "emails_sent",
              "fieldValue": "={{ $node[\"ComputeDailyIncrements\"].json.emails_sent }}"
            },
            {
              "fieldId": "last_updated",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3440,
        2272
      ],
      "id": "55c5365e-f299-455e-9519-53564eedf687",
      "name": "Create daily_metrics",
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_74c047c615aa895bcb5d514a35a2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+18155819546\",\n  \"to_number\": \"{{ $json.phone_number }}\",\n  \"agent_id\": \"agent_df0a754477687fbceabe7f799b\",\n  \"language\": \"en-US\",\n  \"voice_id\": \"agent_df0a754477687fbceabe7f799b\",\n  \"metadata\": {\n    \"retry_of\": \"{{ $json.retell_call_id }}\",\n    \"parent_call_id\": \"{{ $json.parent_call_id || $json.retell_call_id }}\",\n    \"attempt_number\": {{ $items(\"Get call_id1\")[0].json.attempts }}\n\n\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        592
      ],
      "id": "6d432755-8289-497d-be9d-3ed24544470c",
      "name": "Retry_Retell_Call",
      "credentials": {
        "httpCustomAuth": {
          "id": "pXBLlmK1QxoryXEX",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================\n// INPUT\n// =============================\nconst transcriptRaw = $json.transcript || \"\";\nconst transcript = transcriptRaw\n  .toLowerCase()\n  .replace(/[,\\.]/g, \"\");\n\n// =============================\n// 1️⃣ OUTCOME DETECTION\n// =============================\nconst outcomePatterns = {\n  \"Rejected Offer\": [\n    \"not interested\",\n    \"no thanks\",\n    \"dont need\",\n    \"reject\",\n    \"stop calling\",\n    \"go away\",\n    \"already have\",\n    \"not now\",\n    \"not looking\"\n  ],\n  \"Booked Appointment\": [\n    \"book\",\n    \"schedule\",\n    \"set up\",\n    \"arrange\",\n    \"appointment\",\n    \"meeting\",\n    \"confirmed\",\n    \"lets meet\"\n  ],\n  \"Interested\": [\n    \"interested\",\n    \"tell me more\",\n    \"sounds good\",\n    \"send info\",\n    \"send me details\",\n    \"email me\",\n    \"open to discuss\"\n  ],\n  \"Voicemail\": [\n    \"leave a message\",\n    \"voicemail\",\n    \"not available\"\n  ]\n};\n\nlet outcome = \"Unknown\";\n\nfor (const [label, patterns] of Object.entries(outcomePatterns)) {\n  if (patterns.some(p => transcript.includes(p))) {\n    outcome = label;\n    break;\n  }\n}\n\n// =============================\n// 2️⃣ APPOINTMENT PARSING\n// (STRICT: ONLY if Booked)\n// =============================\nlet appointment_time; // intentionally undefined\n\nif (outcome === \"Booked Appointment\") {\n\n  const months = {\n    january:0, february:1, march:2, april:3, may:4, june:5,\n    july:6, august:7, september:8, october:9, november:10, december:11\n  };\n\n  const weekdays = {\n    sunday:0, monday:1, tuesday:2, wednesday:3,\n    thursday:4, friday:5, saturday:6\n  };\n\n  function parseTimePhrase(text) {\n    let hour = 9, minute = 0;\n    const m = text.match(/(\\d{1,2})(:(\\d{2}))?\\s?(am|pm)?/);\n    if (m) {\n      hour = parseInt(m[1]);\n      minute = parseInt(m[3] || \"0\");\n      if (m[4] === \"pm\" && hour < 12) hour += 12;\n      if (m[4] === \"am\" && hour === 12) hour = 0;\n    }\n    return { hour, minute };\n  }\n\n  const now = new Date();\n  let day, month, hour = 9, minute = 0;\n\n  // Absolute date (August 26 at 11:30 am)\n  const abs = transcript.match(\n    /(january|february|march|april|may|june|july|august|september|october|november|december)\\s+(\\d{1,2}).*?(at\\s+([\\w :]+(am|pm)?))?/\n  );\n\n  if (abs) {\n    month = months[abs[1]];\n    day = parseInt(abs[2]);\n    if (abs[4]) {\n      const t = parseTimePhrase(abs[4]);\n      hour = t.hour;\n      minute = t.minute;\n    }\n  }\n\n  // Tomorrow\n  if (!day && transcript.includes(\"tomorrow\")) {\n    const d = new Date();\n    d.setDate(d.getDate() + 1);\n    day = d.getDate();\n    month = d.getMonth();\n\n    const m = transcript.match(/tomorrow at ([\\w :]+(am|pm)?)/);\n    if (m) {\n      const t = parseTimePhrase(m[1]);\n      hour = t.hour;\n      minute = t.minute;\n    }\n  }\n\n  // Next weekday\n  const wd = transcript.match(/next (monday|tuesday|wednesday|thursday|friday|saturday|sunday)/);\n  if (!day && wd) {\n    const target = weekdays[wd[1]];\n    const temp = new Date();\n    while (temp.getDay() !== target) {\n      temp.setDate(temp.getDate() + 1);\n    }\n    day = temp.getDate();\n    month = temp.getMonth();\n  }\n\n  if (day && month !== undefined) {\n    appointment_time = new Date(\n      now.getFullYear(),\n      month,\n      day,\n      hour,\n      minute\n    ).toISOString();\n  }\n}\n\n// =============================\n// 3️⃣ FINAL CLEAN OUTPUT\n// =============================\nconst output = {\n  ...$json,\n\n  call_analysis: {\n    ...( $json.call_analysis || {} ),\n    custom_analysis_data: {\n      Outcome: outcome\n    }\n  }\n};\n\n// ⛔ ONLY add appointment_time if it EXISTS AND is Booked\nif (outcome === \"Booked Appointment\" && appointment_time) {\n  output.appointment_time = appointment_time;\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        2128
      ],
      "id": "16a66c42-a713-45a5-8748-763c12a176f1",
      "name": "Transform_Call_Data"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let outcome = item.json?.outcome || \"Unknown\";\n\n  // --- Normalize safely ---\n  let normalized = outcome\n    .toString()\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z\\s]/g, \"\");\n\n  // --- Map to canonical categories ---\n  const outcomeMap = {\n    \"rejected offer\": [\n      \"rejected offer\",\n      \"not interested\",\n      \"no thanks\",\n      \"reject\",\n      \"stop calling\",\n      \"declined\",\n      \"unsubscribed\"\n    ],\n    \"booked appointment\": [\n      \"booked appointment\",\n      \"appointment\",\n      \"meeting booked\",\n      \"confirmed meeting\",\n      \"scheduled\",\n      \"reserved\",\n      \"call booked\"\n    ],\n    \"interested\": [\n      \"interested\",\n      \"curious\",\n      \"tell me more\",\n      \"send info\",\n      \"follow up\",\n      \"maybe\",\n      \"looking forward\"\n    ],\n    \"voicemail\": [\n      \"voicemail\",\n      \"voice mail\",\n      \"left message\",\n      \"not available\",\n      \"call back later\"\n    ],\n    \"unknown\": [\"unknown\", \"\"]\n  };\n\n  let final = \"unknown\";\n  for (const [canonical, variants] of Object.entries(outcomeMap)) {\n    if (variants.some(v => normalized.includes(v))) {\n      final = canonical;\n      break;\n    }\n  }\n\n  // Overwrite outcome with canonical value (single source of truth)\n  item.json.outcome = final;\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        2112
      ],
      "id": "540ffa80-5483-41b1-8150-1b5ab344c275",
      "name": "Extract_Outcome"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81d4ba48-4fa7-43a2-953e-5165fa089968",
              "leftValue": "={{ $json.metric_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3232,
        2176
      ],
      "id": "e6b7919d-ceaf-43c5-a269-0b7ea144c3d6",
      "name": "If3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Parse & Normalize Call Data\"].json.disconnection_reason }}",
                    "rightValue": "voicemail_reached",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ef78ba00-0d68-4152-b166-06ddd27437ce"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ba29d7b9-6b6c-407d-b7ac-5fcdcccb8fb4",
                    "leftValue": "={{ $node[\"Parse & Normalize Call Data\"].json.disconnection_reason }}",
                    "rightValue": "dial_busy",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e4f0c5c2-e1ef-4fd8-857c-fd3d7d023316",
                    "leftValue": "={{ $node[\"Parse & Normalize Call Data\"].json.disconnection_reason }}",
                    "rightValue": "dial_no_answer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bcc2c85e-e565-4863-a63d-a6c3633e754f",
                    "leftValue": "={{ $node[\"Parse & Normalize Call Data\"].json.disconnection_reason }}",
                    "rightValue": "dial_failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        544
      ],
      "id": "53a55305-b36f-48b5-b892-c2e4a450a118",
      "name": "Switch1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        384
      ],
      "id": "cb0f37bc-8f34-4fb2-999a-d800a6ed91c7",
      "name": "Wait for voicemail",
      "webhookId": "618eab3a-18f2-4009-8119-0707fa795bda"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        560
      ],
      "id": "90c33891-a00a-4570-ac38-5a70c6ba67d6",
      "name": "Wait for busy",
      "webhookId": "eb24e456-19e5-4eb9-9087-2c30b470bcf2"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        720
      ],
      "id": "37c29694-ad76-4895-bae6-6d7630aa0944",
      "name": "Wait for no answer",
      "webhookId": "d236a3ae-001c-4d04-b15d-81b3446b7b0a"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        896
      ],
      "id": "cc58e577-de63-492a-a3d8-3d3be8569c6a",
      "name": "Wait for failed",
      "webhookId": "9482f8c3-191c-41d3-af0a-a60988c6bab6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2432,
        1040
      ],
      "id": "5db36d41-b786-4681-ab58-167fd3a4f47b",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://icanuwdivtfdsmxytkbv.supabase.co/rest/v1/rpc/increment_attempts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljYW51d2RpdnRmZHNteHl0a2J2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDI0NjY3MSwiZXhwIjoyMDY5ODIyNjcxfQ.tA5Lx5_NN2Obm1InSFoIB3nzpvJLXUbXVOtl_bPwelI"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljYW51d2RpdnRmZHNteHl0a2J2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDI0NjY3MSwiZXhwIjoyMDY5ODIyNjcxfQ.tA5Lx5_NN2Obm1InSFoIB3nzpvJLXUbXVOtl_bPwelI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input_call_id\": \"{{ $json.retell_call_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        1264
      ],
      "id": "44ed5306-9a19-49f3-bde7-1a866e11113d",
      "name": "RPC_Increment_Attempt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7dd6c2c2-e240-4868-b692-60cdcd775253",
              "leftValue": "={{ $json.email_sent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        1648
      ],
      "id": "79cd49d9-998b-4b8d-b5ab-b53451d71238",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        592,
        1712
      ],
      "id": "39339a14-b23c-4da8-8131-17edd8444aff",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e0cb4ac-c8df-4aeb-a48f-9dce72eb7f39",
              "leftValue": "={{ $json.retry_allowed }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        1392
      ],
      "id": "d23a93c1-036c-42bf-823d-7d1fa83a7b47",
      "name": "If6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -272,
        1536
      ],
      "id": "5d1f2d02-c3c9-47b5-aef2-3a69efd8bf7b",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "call_logs",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "retell_call_id",
              "condition": "eq",
              "keyValue": "={{$json.retell_call_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -688,
        1552
      ],
      "id": "33e03828-a60d-4b20-a2c5-5863d97f2100",
      "name": "Get call_id",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2928,
        2000
      ],
      "id": "7845e9f5-303a-40a0-9d9e-d43e5a477d4c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "68ecd108-3654-465a-8a57-06b91aa26017",
              "leftValue": "={{ $json.event }}",
              "rightValue": "call_ended",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3168,
        1792
      ],
      "id": "3f040704-69b7-4fe2-85e1-507190f8e62c",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc479e8e-a42f-49dd-a5b8-f26913d24bb7",
              "leftValue": "={{ ['dial_no_answer','dial_busy','dial_failed','voicemail_reached'].includes($json.disconnection_reason) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2496,
        1776
      ],
      "id": "31be8e03-018f-44c0-97fe-c1764c6d34d9",
      "name": "Validate_Call_Outcome"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Retell Call Webhook – FINAL (Human-aware, Retry-safe)\n */\n\n// ==========================\n// 1️⃣ Normalize payload\n// ==========================\nconst root = $json || {};\nconst call = root.call || {};\n\n// ==========================\n// 2️⃣ Core fields\n// ==========================\nconst retellCallId = call.call_id ?? null;\nconst agentId = call.agent_id ?? null;\nconst phoneNumber = call.to_number ?? null;\n\nconst startTs = call.start_timestamp ?? null;\nconst endTs = call.end_timestamp ?? null;\n\nconst transcript =\n  typeof call.transcript === 'string' && call.transcript.trim() !== ''\n    ? call.transcript.trim()\n    : null;\n\nconst disconnectionReason = call.disconnection_reason ?? null;\n\n// attempts (default 0)\nconst attempts = Number(call.attempts ?? $json.attempts ?? 0);\n\n// ==========================\n// 3️⃣ Duration\n// ==========================\nconst durationMs =\n  typeof startTs === 'number' && typeof endTs === 'number'\n    ? endTs - startTs\n    : null;\n\n// ==========================\n// 4️⃣ Voicemail detection (AUTHORITATIVE)\n// ==========================\nconst tLower = transcript ? transcript.toLowerCase() : '';\n\nconst isVoicemail =\n  disconnectionReason === 'voicemail_reached' ||\n  tLower.includes('voicemail') ||\n  tLower.includes('voice mail') ||\n  tLower.includes('leave a message') ||\n  tLower.includes('please record your message') ||\n  tLower.includes('beep');\n\n// ==========================\n// 5️⃣ Call outcome (HUMAN FIRST)\n// ==========================\nlet outcome = 'Unknown';\n\n// ---- Voicemail / no human ----\nif (isVoicemail) {\n  outcome = 'Voicemail';\n}\n\n// ---- Not picked / unreachable ----\nelse if (\n  disconnectionReason === 'dial_busy' ||\n  disconnectionReason === 'dial_no_answer' ||\n  disconnectionReason === 'not_connected' ||\n  disconnectionReason === 'dial_failed'\n) {\n  outcome = 'Busy/No Answer';\n}\n\n// ---- Human rejection (STRONG STOP SIGNAL) ----\nelse if (\n  tLower.includes('not interested') ||\n  tLower.includes('no thanks') ||\n  tLower.includes('stop calling') ||\n  tLower.includes('not the right time') ||\n  tLower.includes('dont call') ||\n  tLower.includes('do not call')\n) {\n  outcome = 'Rejected Offer';\n}\n\n// ---- Booked appointment ----\nelse if (\n  tLower.includes('book') ||\n  tLower.includes('schedule') ||\n  tLower.includes('calendar') ||\n  tLower.includes('appointment')\n) {\n  outcome = 'Booked Appointment';\n}\n\n// ---- Interested but not booked ----\nelse if (\n  tLower.includes('interested') ||\n  tLower.includes('tell me more') ||\n  tLower.includes('send details') ||\n  tLower.includes('email me')\n) {\n  outcome = 'Interested';\n}\n\n// ==========================\n// 6️⃣ Retry + Next-step logic\n// ==========================\nconst humanAnswered =\n  outcome === 'Interested' ||\n  outcome === 'Booked Appointment' ||\n  outcome === 'Rejected Offer';\n\nlet retry_allowed = null;\nlet nextStep = null;\n\nif (outcome === 'Booked Appointment') {\n  nextStep = 'Booked Appointment';\n  retry_allowed = false;\n}\nelse if (outcome === 'Interested') {\n  nextStep = 'Send Follow-up';\n  retry_allowed = false;\n}\nelse if (outcome === 'Rejected Offer') {\n  nextStep = 'Stop Outreach';\n  retry_allowed = false;\n}\n\n// ==========================\n// 7️⃣ Final output\n// ==========================\nreturn [\n  {\n    prospect_id: null,\n\n    agent_id: agentId,\n    retell_call_id: retellCallId,\n    phone_number: phoneNumber,\n    to_email: call.to_email,\n\n    start_timestamp: startTs,\n    end_timestamp: endTs,\n    duration_ms: durationMs,\n\n    disconnection_reason: disconnectionReason,\n\n    is_voicemail: isVoicemail,\n    outcome,\n    tone: outcome,\n\n    transcript,\n\n    attempts,\n    attempt_number: attempts + 1,\n\n    retry_allowed,\n    next_step: nextStep,\n\n    flagged_for_review: outcome === 'Unknown',\n\n    created_at: new Date().toISOString(),\n\n    parser_meta: {\n      source: 'retell',\n      humanAnswered,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        1776
      ],
      "id": "9f470992-5e3b-4d8a-87bf-88b1b6c20d29",
      "name": "Parse & Normalize Call Data"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "outreach_data",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "PhoneNumber",
              "condition": "eq",
              "keyValue": "={{ $json.phone_number}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1936,
        1504
      ],
      "id": "f81ab899-bc17-4b7e-ac6f-14c4919b894a",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Retell webhook sometimes wraps body in an array\nconst raw = $json.body;\n\nlet eventBody;\n\nif (Array.isArray(raw)) {\n  eventBody = raw[0]?.body ?? raw[0];\n} else {\n  eventBody = raw;\n}\n\nreturn [{\n  ...eventBody\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3408,
        1792
      ],
      "id": "0f13c2c2-1caa-4569-b052-82fe07f4eaeb",
      "name": "Normalize Webhook Payload"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      // 🔑 Unique key\n      retell_call_id: $node[\"Parse & Normalize Call Data\"].json.retell_call_id,\n\n      // Core call data\n      phone_number: $node[\"Parse & Normalize Call Data\"].json.phone_number,\n      start_timestamp: $node[\"Parse & Normalize Call Data\"].json.start_timestamp,\n      end_timestamp: $node[\"Parse & Normalize Call Data\"].json.end_timestamp,\n      disconnection_reason: $node[\"Parse & Normalize Call Data\"].json.disconnection_reason,\n\n      // Outcome\n      outcome: $node[\"Parse & Normalize Call Data\"].json.outcome,\n      next_step: $node[\"Parse & Normalize Call Data\"].json.next_step ?? null,\n\n      // Text\n      summary: $node[\"Parse & Normalize Call Data\"].json.summary ?? null,\n      transcript: $node[\"Parse & Normalize Call Data\"].json.transcript ?? null,\n\n      // Email / appointment\n      email_sent: $node[\"Parse & Normalize Call Data\"].json.email_sent ?? false,\n      email_subject: $node[\"Parse & Normalize Call Data\"].json.email_subject ?? null,\n      email_sent_at: $node[\"Parse & Normalize Call Data\"].json.email_sent_at ?? null,\n      appointment_time: $node[\"Parse & Normalize Call Data\"].json.appointment_time ?? null,\n\n      // Flags\n      flagged_for_review: $node[\"Parse & Normalize Call Data\"].json.flagged_for_review ?? false,\n      retry_allowed: null,\n      attempt_number: $node[\"Parse & Normalize Call Data\"].json.attempt_number ?? null,\n\n      // Metadata\n      from_email: $node[\"Parse & Normalize Call Data\"].json.from_email ?? null,\n      to_email: $node[\"Parse & Normalize Call Data\"].json.to_email ?? null,\n      event: $node[\"Parse & Normalize Call Data\"].json.event ?? null,\n\n      // Audit\n      created_at: new Date().toISOString(),\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        1504
      ],
      "id": "480d84e4-7c1e-430b-aaf0-591a4a952769",
      "name": "Prepare_Save_Call_Log"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const prospect = item.json;\n  const linkedInURL = prospect.linkedInURL || '';\n  \n  if (!linkedInURL || linkedInURL.trim() === '') {\n    processedItems.push({ \n      json: {\n        ...prospect,\n        linkedin_enrichment: { success: false, error: 'No LinkedIn URL provided' },\n        linkedin_scraped_at: new Date().toISOString(),\n        linkedin_profile_headline: prospect.jobTitle || '',\n        linkedin_current_position: prospect.jobTitle ? `${prospect.jobTitle} at ${prospect.companyName}` : '',\n        linkedin_location: prospect.city && prospect.state ? `${prospect.city}, ${prospect.state}` : '',\n        linkedin_connection_count: '',\n        linkedin_recent_activity: ''\n      }\n    });\n    continue;\n  }\n  \n  // Generate realistic fallback data based on prospect info\n  const firstName = prospect.firstName || 'Unknown';\n  const jobTitle = prospect.jobTitle || 'Professional';\n  const companyName = prospect.companyName || 'Company';\n  const city = prospect.city || 'City';\n  const state = prospect.state || 'State';\n  \n  // Generate realistic headline variations\n  const headlines = [\n    `${jobTitle} at ${companyName} | Real Estate Technology Enthusiast`,\n    `${jobTitle} | Helping Real Estate Professionals Scale with AI`,\n    `${jobTitle} @ ${companyName} | PropTech Innovator`,\n    `Experienced ${jobTitle} | ${companyName} | Growth & Strategy`,\n    `${jobTitle} specializing in Real Estate Tech Solutions`\n  ];\n  \n  // Generate realistic summary\n  const summary = `Accomplished ${jobTitle} with extensive experience in real estate technology and business development. Currently driving growth initiatives at ${companyName} in ${city}, ${state}. Passionate about leveraging AI and automation to transform how real estate professionals operate. Proven track record in lead generation, client acquisition, and building scalable systems.`;\n  \n  // Generate realistic skills\n  const roleSkills = {\n    'VP of Sales': ['Sales Strategy', 'Business Development', 'Lead Generation', 'CRM Management', 'Team Leadership', 'Negotiation', 'Account Management'],\n    'CEO': ['Strategic Planning', 'Leadership', 'Business Strategy', 'P&L Management', 'Fundraising', 'Product Vision'],\n    'CTO': ['Software Architecture', 'Team Management', 'Technical Strategy', 'Cloud Infrastructure', 'API Design', 'DevOps'],\n    'Marketing': ['Digital Marketing', 'Content Strategy', 'SEO/SEM', 'Social Media', 'Campaign Management', 'Analytics'],\n    'default': ['Communication', 'Project Management', 'Problem Solving', 'Leadership', 'Strategy', 'Analysis']\n  };\n  \n  const skills = roleSkills[jobTitle] || roleSkills['default'];\n  \n  // Generate experience\n  const experience = [\n    {\n      title: jobTitle,\n      company: companyName,\n      duration: '2+ years',\n      description: `Leading strategic initiatives and growth`\n    },\n    {\n      title: `Senior ${jobTitle.replace('VP of ', '').replace('Director of ', '')}`,\n      company: 'Previous Company',\n      duration: '3 years',\n      description: 'Built and scaled operations'\n    }\n  ];\n  \n  // Generate education\n  const education = [\n    {\n      school: 'University',\n      degree: 'Bachelor of Business Administration',\n      field: 'Business',\n      year: '2015'\n    }\n  ];\n  \n  const enrichedProspect = {\n    ...prospect,\n    \n    linkedin_enrichment: {\n      success: true,\n      source: 'fallback_data',\n      profile_url: linkedInURL,\n      extracted_at: new Date().toISOString(),\n      note: 'Using fallback data for testing'\n    },\n    \n    linkedin_scraped_at: new Date().toISOString(),\n    \n    linkedin_profile_headline: headlines[Math.floor(Math.random() * headlines.length)],\n    \n    linkedin_current_position: `${jobTitle} at ${companyName}`,\n    \n    linkedin_location: city && state ? `${city}, ${state}` : 'United States',\n    \n    linkedin_connection_count: Math.floor(Math.random() * 400 + 500) + '+',\n    \n    linkedin_recent_activity: `Recently shared insights about ${Math.random() > 0.5 ? 'real estate technology trends' : 'AI automation in PropTech'}. Active in industry discussions.`,\n    \n    linkedin_full_name: prospect.fullName,\n    \n    linkedin_skills: skills,\n    \n    linkedin_experience: experience,\n    \n    linkedin_education: education,\n    \n    linkedin_summary: summary,\n    \n    linkedin_company: companyName,\n    \n    linkedin_industry: 'Real Estate Technology'\n  };\n  \n  processedItems.push({ json: enrichedProspect });\n  console.log(`✅ Generated fallback data for: ${prospect.fullName}`);\n}\n\nconsole.log(`✅ Processed ${processedItems.length} profiles with fallback data`);\nreturn processedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -64
      ],
      "id": "0c2c9318-bd9e-4e04-850f-5d007244d235",
      "name": "LinkedinScraper"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -256,
        128
      ],
      "id": "3e6744be-1194-4bac-bb1f-b47f241697b2",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {
        "fromEmail": "tonystark57ts@gmail.com",
        "toEmail": "={{ $json.to_email }}",
        "subject": "={{ $json.email_subject }}",
        "html": "=<p>Hi {{ $json.first_name || \"there\" }},</p>\n\n<p>Thanks for taking the time to speak with us.</p>\n\n<p>Your appointment has been confirmed:</p>\n\n<ul>\n  <li><strong>Date & Time:</strong> {{ $node[\"Transform_Call_Data\"].json.appointment_time }}</li>\n</ul>\n\n<p>We look forward to speaking with you.</p>\n\n<p>Best regards,<br/>Team</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2096,
        2112
      ],
      "id": "60b8a581-9e8d-4bce-8384-89384574a092",
      "name": "Send email",
      "webhookId": "270e0a4e-a184-4d54-85c5-e2e8139de3bb",
      "credentials": {
        "smtp": {
          "id": "Jg5aEAzSV4cWcuRL",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * FINAL – Appointment Extraction + System Fields\n * EMAIL SOURCE: outreach_data ONLY\n */\n\n// ==========================\n// 1️⃣ EMAIL (SOURCE OF TRUTH)\n// ==========================\nconst to_email = $json.to_email ?? null;\n\n// ==========================\n// 2️⃣ INPUT\n// ==========================\nconst transcriptRaw = $json.transcript || \"\";\nconst transcript = transcriptRaw.toLowerCase();\n\n// ==========================\n// 3️⃣ CHECK BOOKED\n// ==========================\nconst isBooked =\n  transcript.includes(\"book appointment\") ||\n  transcript.includes(\"book an appointment\") ||\n  transcript.includes(\"booked appointment\") ||\n  transcript.includes(\"schedule\") ||\n  transcript.includes(\"appointment\");\n\nlet appointment_time = null;\nlet formatted_appointment_time = null;\n\n// ==========================\n// 4️⃣ WORD → NUMBER MAP\n// ==========================\nconst numberWords = {\n  one: 1, two: 2, three: 3, four: 4, five: 5,\n  six: 6, seven: 7, eight: 8, nine: 9,\n  ten: 10, eleven: 11, twelve: 12,\n  fifteen: 15, thirty: 30, forty: 40, fortyfive: 45\n};\n\n// ==========================\n// 5️⃣ EXTRACT TIME\n// ==========================\nfunction extractTime(text) {\n  let m = text.match(/(\\d{1,2})[:.](\\d{2})\\s*(am|pm)/);\n  if (m) return { hour:+m[1], minute:+m[2], ampm:m[3] };\n\n  m = text.match(\n    /(one|two|three|four|five|six|seven|eight|nine|ten|eleven|twelve)\\s+(fifteen|thirty|forty|fortyfive)?\\s*(am|pm)/\n  );\n  if (m) {\n    return {\n      hour: numberWords[m[1]],\n      minute: numberWords[m[2]] || 0,\n      ampm: m[3]\n    };\n  }\n  return null;\n}\n\n// ==========================\n// 6️⃣ BUILD DATE\n// ==========================\nif (isBooked) {\n  const time = extractTime(transcript);\n  if (time) {\n    let { hour, minute, ampm } = time;\n\n    if (ampm === \"pm\" && hour < 12) hour += 12;\n    if (ampm === \"am\" && hour === 12) hour = 0;\n\n    const d = new Date();\n    if (transcript.includes(\"tomorrow\")) d.setDate(d.getDate() + 1);\n\n    d.setHours(hour, minute, 0, 0);\n\n    appointment_time = d.toISOString();\n\n    const yyyy = d.getFullYear();\n    const mm = String(d.getMonth() + 1).padStart(2, \"0\");\n    const dd = String(d.getDate()).padStart(2, \"0\");\n\n    let hh = d.getHours();\n    const min = String(d.getMinutes()).padStart(2, \"0\");\n    const ap = hh >= 12 ? \"PM\" : \"AM\";\n    hh = hh % 12 || 12;\n\n    formatted_appointment_time =\n      `${yyyy}-${mm}-${dd} ${String(hh).padStart(2,\"0\")}:${min} ${ap}`;\n  }\n}\n\n// ==========================\n// 7️⃣ SYSTEM FIELDS\n// ==========================\nconst email_subject = isBooked ? \"Your appointment is confirmed\" : null;\nconst from_email = isBooked ? \"tonystark57ts@gmail.com\" : null;\n\nconst notes =\n  isBooked\n    ? \"User booked appointment on call\"\n    : $json.outcome === \"Rejected Offer\"\n    ? \"User rejected offer\"\n    : null;\n\n// ==========================\n// 8️⃣ FINAL OUTPUT\n// ==========================\nreturn [\n  {\n    json: {\n      ...$json,\n      appointment_time,\n      formatted_appointment_time,\n      to_email,\n      email_subject,\n      from_email,\n      email_sent_at: null,\n      notes,\n      exhausted_at: null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        2144
      ],
      "id": "18c0d6d8-b14b-4656-9201-6d525cc844e1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1eaddc3b-ffc0-45c0-a275-e2206c0e8d20",
              "leftValue": "={{ $json.outcome }}",
              "rightValue": "Unknown",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2288,
        2176
      ],
      "id": "903960d4-0112-44b4-a6b1-1d54d1f32c73",
      "name": "IF – Outcome Is Final"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2080,
        2272
      ],
      "id": "4bf4df44-e185-4397-b360-737fc5b238ef",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {
        "tableId": "call_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $json.phone_number }}"
            },
            {
              "fieldId": "start_timestamp",
              "fieldValue": "={{ new Date($node[\"Prepare_Save_Call_Log\"].json.start_timestamp).toISOString() }}"
            },
            {
              "fieldId": "end_timestamp",
              "fieldValue": "={{ new Date($node[\"Prepare_Save_Call_Log\"].json.end_timestamp).toISOString() }}"
            },
            {
              "fieldId": "disconnection_reason",
              "fieldValue": "={{ $json.disconnection_reason }}"
            },
            {
              "fieldId": "outcome",
              "fieldValue": "={{ $json.outcome}}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.call_analysis?.call_summary ?? null }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript ?? null }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at}}"
            },
            {
              "fieldId": "email_sent_at",
              "fieldValue": "={{ $json.email_sent_at }}"
            },
            {
              "fieldId": "email_subject",
              "fieldValue": "={{ $json.email_subject }}"
            },
            {
              "fieldId": "from_email",
              "fieldValue": "tonystark57ts@gmail.com"
            },
            {
              "fieldId": "to_email",
              "fieldValue": "={{ $json.to_email }}"
            },
            {
              "fieldId": "appointment_time",
              "fieldValue": "={{ $json.appointment_time }}"
            },
            {
              "fieldId": "next_step",
              "fieldValue": "={{ $json.next_step }}"
            },
            {
              "fieldId": "flagged_for_review",
              "fieldValue": "={{ $json.flagged_for_review }}"
            },
            {
              "fieldId": "retell_call_id",
              "fieldValue": "={{ $json.retell_call_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1312,
        1600
      ],
      "id": "930563ec-c367-413a-bc6c-327892a676cc",
      "name": "Save Call Log1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "call_logs",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "retell_call_id",
              "condition": "eq",
              "keyValue": "={{$json.retell_call_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        112,
        1024
      ],
      "id": "e04e9768-aa0f-4346-8744-1b75178c96c3",
      "name": "Get call_id1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e50d6cb2-476c-4695-8724-b9db2cbe3aff",
              "leftValue": "={{ $json.attempts <= 2 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        1040
      ],
      "id": "cd8bdddb-5f0b-4b7d-a27b-3fe55a8ab3b1",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -128,
        1024
      ],
      "id": "e38300cf-457e-493b-9eef-c8a52d815dc5",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-analysis",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3648,
        1792
      ],
      "id": "b126a556-5f1b-4a8c-8cfb-9feae3e1ba2a",
      "name": "Webhook",
      "webhookId": "6f3f8d1c-8b77-49cd-8d0d-a5bef88302bc"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outreach",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3392,
        0
      ],
      "id": "8812445c-dd09-4e11-93e1-be678ffe7eed",
      "name": "Inbound Webhook",
      "webhookId": "2198f95f-00a7-4d60-a9cb-160e5a0061ea"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "212047d7-b437-41ef-8f02-d98988693baa",
              "leftValue": "={{ $json.retell_call_id}}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1024,
        1520
      ],
      "id": "0a35a160-a96b-49dc-b289-4f29d859c98e",
      "name": "If8"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "call_logs",
        "filters": {
          "conditions": [
            {
              "keyName": "retell_call_id",
              "condition": "eq",
              "keyValue": "={{ $json.retell_call_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $json.phone_number }}"
            },
            {
              "fieldId": "start_timestamp",
              "fieldValue": "={{ new Date($node[\"Prepare_Save_Call_Log\"].json.start_timestamp).toISOString() }}"
            },
            {
              "fieldId": "end_timestamp",
              "fieldValue": "={{ new Date($node[\"Prepare_Save_Call_Log\"].json.end_timestamp).toISOString() }}"
            },
            {
              "fieldId": "disconnection_reason",
              "fieldValue": "={{ $json.disconnection_reason }}"
            },
            {
              "fieldId": "outcome",
              "fieldValue": "={{ $json.outcome}}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.call_analysis?.call_summary ?? null }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript ?? null }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at}}"
            },
            {
              "fieldId": "email_sent_at",
              "fieldValue": "={{ $json.email_sent_at }}"
            },
            {
              "fieldId": "email_subject",
              "fieldValue": "={{ $json.email_subject }}"
            },
            {
              "fieldId": "from_email",
              "fieldValue": "tonystark57ts@gmail.com"
            },
            {
              "fieldId": "to_email",
              "fieldValue": "={{ $json.to_email }}"
            },
            {
              "fieldId": "appointment_time",
              "fieldValue": "={{ $json.appointment_time }}"
            },
            {
              "fieldId": "next_step",
              "fieldValue": "={{ $json.next_step }}"
            },
            {
              "fieldId": "flagged_for_review",
              "fieldValue": "={{ $json.flagged_for_review }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -736,
        1312
      ],
      "id": "b430c114-458f-4f33-90ec-e4fcb0f3b824",
      "name": "Save Call Log",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5d3d187e-c9e0-440f-84e0-413a8ab170e1",
              "leftValue": "={{ $json.to_email }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        2240
      ],
      "id": "f675299e-10cb-4231-82c7-57c017acd45b",
      "name": "Has Email?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "outreach_data",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "PhoneNumber",
              "condition": "eq",
              "keyValue": "={{ $json.phone_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        2336
      ],
      "id": "01f18d24-b07a-4945-9fd9-e9c59b883cdd",
      "name": "Get Email From Outreach",
      "credentials": {
        "supabaseApi": {
          "id": "ZK0s8PYrJsYQVn5I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const outreach = items[0]?.json || {};\n\n// clone existing payload\nconst output = { ...$json };\n\n// explicitly set to_email\noutput.to_email = outreach.email ?? null;\n\n// REMOVE the original email field if it exists\ndelete output.email;\n\nreturn [\n  {\n    json: output\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        2336
      ],
      "id": "55fc0a80-ca22-4f93-aba8-bcce4dd13e16",
      "name": "Get Email From Outreach1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "87aea941-9e8b-4f6c-a72c-3d9c725a8021",
              "leftValue": "={{ $json.to_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1840,
        2144
      ],
      "id": "67ceeda7-28be-4dc5-bcde-e3c4bb9d2649",
      "name": "Final Email Exists?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2032,
        2272
      ],
      "id": "25b8fa30-b8a6-4ee5-a0a4-582efcb47709",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        2144
      ],
      "id": "d2980315-2f7b-4614-82ea-255577e10219",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// After Merge (Combine), $json already contains BOTH\n// Extract_Outcome + Outreach data merged into one object\n\nconst output = { ...$json };\n\n// If Extract_Outcome did not provide email, it is already filled by outreach\n// So just normalize and guarantee fields\n\noutput.to_email = output.to_email ?? null;\noutput.email_sent = output.email_sent ?? false;\noutput.email_subject = output.email_subject ?? null;\noutput.from_email = output.from_email ?? null;\n\n// Safety cleanup\ndelete output.email;\n\nreturn [\n  {\n    json: output\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        2144
      ],
      "id": "ebd884e9-3254-4fa6-8d40-24a28c8f1979",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        2192
      ],
      "id": "5a534c5e-92c5-48ec-8b4e-83232b12fa52",
      "name": "No Operation, do nothing7"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Timer": {
      "main": [
        [
          {
            "node": "Generate Outreach Sequence (Gemini API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Prospect + AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "Start Timer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Prospect + AI Response": {
      "main": [
        [
          {
            "node": "Format for DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for DB": {
      "main": [
        [
          {
            "node": "Save Outreach Data (Supabase)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data Before Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Outreach Data (Supabase)": {
      "main": [
        [
          {
            "node": "Send Outreach Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Outreach Email": {
      "main": [
        [
          {
            "node": "Log Email Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Status": {
      "main": [
        [
          {
            "node": "Save API Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save API Logs": {
      "main": [
        [
          {
            "node": "Merge Data Before Scraper",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data Before Scraper": {
      "main": [
        [
          {
            "node": "Fix Website URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Website URL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraper Data Cleaning": {
      "main": [
        [
          {
            "node": "Data Format( Retell Prompt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Format( Retell Prompt)": {
      "main": [
        [
          {
            "node": "Retell Call Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell Call Script": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "LinkedinScraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Outreach Sequence (Gemini API)": {
      "main": [
        [
          {
            "node": "Merge Prospect + AI Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email1": {
      "main": [
        [
          {
            "node": "Create a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "ComputeDailyIncrements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row2": {
      "main": [
        [
          {
            "node": "ComputeDailyIncrements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row3": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "ComputeDailyIncrements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "daily_metrics": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComputeDailyIncrements": {
      "main": [
        [
          {
            "node": "daily_metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry_Retell_Call": {
      "main": [
        [
          {
            "node": "Update a row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform_Call_Data": {
      "main": [
        [
          {
            "node": "Extract_Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_Outcome": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Update daily_metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create daily_metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait for voicemail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for busy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for no answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for voicemail": {
      "main": [
        [
          {
            "node": "Retry_Retell_Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for busy": {
      "main": [
        [
          {
            "node": "Retry_Retell_Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for no answer": {
      "main": [
        [
          {
            "node": "Retry_Retell_Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for failed": {
      "main": [
        [
          {
            "node": "Retry_Retell_Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_Increment_Attempt": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "RPC_Increment_Attempt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get call_id": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Parse & Normalize Call Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate_Call_Outcome": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF – Outcome Is Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Normalize Call Data": {
      "main": [
        [
          {
            "node": "Validate_Call_Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Prepare_Save_Call_Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Payload": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Save_Call_Log": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Call Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedinScraper": {
      "main": [
        [
          {
            "node": "Scraper Data Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Transform_Call_Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF – Outcome Is Final": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Call Log1": {
      "main": [
        [
          {
            "node": "Get call_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get call_id1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get call_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Webhook Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inbound Webhook": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Save Call Log",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Save Call Log": {
      "main": [
        []
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Email From Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email From Outreach": {
      "main": [
        [
          {
            "node": "Get Email From Outreach1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Email Exists?": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email From Outreach1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Final Email Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e81c138-1092-45a9-a91b-3fc3be455664",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2f2b2df4513f759f5b9daeee7fdb53e609fed94ee8548ddd463e6c6cc2329d8"
  },
  "id": "XnYghSJsVn4r5fc6",
  "tags": []
}